/* Sätter stil på logotypen */
.logo {
  width: 100vw;
  position: relative;
  top: 70px;
  z-index: 2;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  background-color: var(--deep-dark);
  box-sizing: border-box;
}

.logo img {
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Gör logotypen lite mindre beroende på skärmstorleken */

@media screen and (max-width: 820px) {
  .logo img {
    height: 70px;
  }
}

@media screen and (max-width: 500px) {
  .logo img {
    height: 60px;
  }
}


