/* Justerar huvudinnehållet, lägger bakgrundfärg på den och inramning */

.main {
  width: 70vw;
  padding: 2rem;
  position: relative;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 2; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--dark);
  border: 2px solid var(--deep-dark);
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 50%;
}

/* Stilisera huvudinnehållets rubriker och paragrafer */

.main h1 {
  font-size: 1.7rem;
}

.main h1, h2, p {
  color: var(--light-gray);
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

.main p {
  font-size: 1.3rem;
}

/* Gör huvudinnehållet responsivt */

@media screen and (max-width: 820px) {
  .main p {
    font-size: 1.2rem;
  }
  .main h1 {
    font-size: 1.4rem;
  }
  .main h2 {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 450px) {
  .main p {
    font-size: 1rem;
  }
  .main h1 {
    font-size: 1.2rem;
  }
  .main h2 {
    font-size: 1.1rem;
  }
}