/** Definiera återanvändbara färgvariabler, standardstorleken för text och teckensnittet för hela dokumentet **/

:root {
  --light-gray: #cfcfcf;
  --dark: #363636;
  --deep-dark: #232323;
  --purple: #3c2d33;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/** Stilisera hela body-taggen **/

body {
  max-width: 100vw;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

/** Stilisera alla listor  **/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}